.project {
  margin: 80px 0;

  .project-info {
    margin-bottom: 100px;

    h2 {
      margin-bottom: 40px;
    }

    .description {
      margin-bottom: 40px;
    }
  }

  .project-image {
    img {
      margin-bottom: 80px;
      width: 100%;
    }
  }
}
